@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55'); /* font-family: 'Helvetica Neue', sans-serif; */
@import "tailwindcss";

@theme{
    --color-primary-red: #cc171f;
    --color-gray-text: #8c9ea7;
    --color-black-text: #3c3c3c;
    --font-helvatica: 'Helvetica Neue', sans-serif;
}